<!DOCTYPE html>
<html lang="en" xmlns:thSys="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title ></title>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"
    />
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <style th:inline="text">
        body {
            margin: 0;
            background-color: black;
        }

        .box {
            height: 100vh;
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .show-img {
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="box">
        <img class="show-img" th:src="${fileUrl}" alt="">
    </div>
</body>
</html>