<html>
<head>
    <script type="text/javascript" th:src="@{/saveimg/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/saveimg/dom-to-image.min.js}"></script>
    <script type="text/javascript" th:src="@{/saveimg/FileSaver.js}"></script>

    <style>
        *{margin: 0;padding: 0;}
        img{width: 100%;}
    </style>

    <script type="text/javascript">
        $(function(){
            //
            $("#btn").click(function(){


                // 插入图片到html
                 var node = document.getElementById('table');
                    domtoimage.toPng(node)
                               .then(function (dataUrl) {
                                   var img = new Image();
                                   img.src = dataUrl;
                                   console.log(dataUrl);
                                   document.body.appendChild(img);
                               });


                // 下载png图片
             //  domtoimage.toBlob(document.getElementById('table'))
               //     .then(function (blob) {
               //         window.saveAs(blob, 'my-node.png');
               //     });


                // 下载jpeg图片
                // domtoimage.toJpeg(document.getElementById('my-node'), { quality: 0.95 })
                //           .then(function (dataUrl) {
                //               var link = document.createElement('a');
                //               link.download = 'my-image-name.jpeg';
                //               link.href = dataUrl;
                //               link.click();
                //           });

                // var node = document.getElementById('table');
                // domtoimage.toPixelData(node)
                //     .then(function (pixels) {
                //         for (var y = 0; y < node.scrollHeight; ++y) {
                //           for (var x = 0; x < node.scrollWidth; ++x) {
                //             pixelAtXYOffset = (4 * y * node.scrollHeight) + (4 * x);
                //             /* pixelAtXY is a Uint8Array[4] containing RGBA values of the pixel at (x, y) in the range 0..255 */
                //             pixelAtXY = pixels.slice(pixelAtXYOffset, pixelAtXYOffset + 4);
                //           }
                //         }
                     });

        })
    </script>
</head>
<body>
<input type="button" id="btn" value="do it" />
<div  id="table" style="line-height: 0 ;width: 100%;font-size:0">
    <img src="/img/1.jpg"><img src="/img/1.jpg">


</div>

</body>
</html>